html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh; /* full page */
  grid-template-columns: 10px 1fr 300px;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-column: 1 / -1;
  background: lightgray;
  padding-left: 10px;
}
footer {
  grid-column: 1 / -1;
  background: rgb(255, 255, 255);
  padding-left: 10px;
  padding-bottom: 5px;
  border-top: 1px solid rgb(0, 0, 0);
}
aside {
  grid-column: 3 / 4;
  background: lightgray;
}
main {
  grid-column: 2 / 3;
  background: white;
}

#title {
  font-size: 50px;
}
.Navigation .MuiButton-root {
  font-size: 18px;
} /* .MuiButton-root ist da weil es eine Buttongroup ist */
.button_startseite {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
} /* !important braucht es um die Voreinstellungen von Mui überschreiben zu können */
.button_fragestellung {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.uebersicht {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 50%;
  height: auto;
}
.text_fragestellung {
  margin-top: 16px;
}
.erkundung_fehlermeldung {
  color: red;
  margin-bottom: 16px;
}
select {
  margin: 12px;
  background-color: #d1d1e0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
div {
  font-size: 20px;
}
